* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #973C08;
}


.navbar-brand i{
    color: #FF692A;
}

body{
    background-color: #FFF7ED;
}

nav{
    background-color: #FEE685;
}

h2{
    font-family: "SN Pro", sans-serif;
    color: #AF601A;
}

h6{
    color: #E59866;
}

thead tr th{
    font-weight: 600;
    color: #935116;
}

table td{
    color: #E59866;
}

.tasks a{
    color: #E59866;
    text-decoration: none;
}

.detalles-cliente p{
    color: #757575;
    font-size: 0.9rem;
}

.detalles-pedido{
    color: #757575;
}
